header {
  
}

.header {
  background-color: #333;
  width: 100%;
  top: 0px;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}

label {
    color: white;
    font-size: 30px;
}

h2{
    margin-top: 15vh;
    margin-bottom: 4vh;
    text-align: center;
    color: rgb(94, 89, 89);
}

.apply-container{
    width: 100%;
    min-height: 56.8vh;
}

.showText {
    margin-top: 5vh;
    margin-left: 4vw;
    height: 30vh;
    padding: 1vh;
    width: 60vw;
    border-radius: 20px;
    background: rgb(140, 90, 180);
    color: white;
    padding: 3px;
    word-wrap: break-word;
    font-family: cursive;
}

.showText > h1 {
  margin: 1ch 1ch 1ch 1ch;
  font-size: 1.5em;
}

form {
  margin-top: 3vh;
}

form > div {
  margin-left: 4vw;
}

input{
    height: 30vh;
    font-size: 20px;
    padding: 1vh;
    margin-left: 4vw;
    color: grey;
    width: 60vw;
    border: none;
    border-bottom: 1px solid gray;
}

.button{    
    margin-top: 2em;
    width: 10vw;
    height: 8vh;
    border-radius: 20px;
    background: rgb(84, 45, 121);
    color: white;
    padding: 3px;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
}